<div class="pb-5">
    <div class="flex justify-center flex-wrap gap-5">
        @for (item of recipes; track 1) {
            <app-recipecard [recipe]="item"/>
        }
        @empty {
            <div>
                No recipe found
            </div>
        }
    </div>

    <div class="fixed bottom-10 right-10">
        <div class="example-button-container">
            <button (click)="handleOpenCreateRecipeForm()" mat-fab color="primary" aria-label="Add Recipe">
              <mat-icon>add</mat-icon>
            </button>
          </div>
    </div>
</div>